<!DOCTYPE html>
<html lang="es" ng-app="app">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
   <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="http://medicavial.net/mvnuevo/favicon.ico">
  <link rel="apple-touch-icon" sizes="57x57" href="http://medicavial.net/mvnuevo/favicon-57.png">
  <link rel="apple-touch-icon-precomposed" sizes="57x57" href="http://medicavial.net/mvnuevo/favicon-57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://medicavial.net/mvnuevo/favicon-72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://medicavial.net/mvnuevo/favicon-114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://medicavial.net/mvnuevo/favicon-120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://medicavial.net/mvnuevo/favicon-144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://medicavial.net/mvnuevo/favicon-152.png">
  <meta name="application-name" content="mvnuevo MV">
  <meta name="msapplication-TileImage" content="http://medicavial.net/mvnuevo/favicon-144.png">
  <meta name="msapplication-TileColor" content="#2A2A2A" />
  <meta content="yes" name="apple-mobile-web-app-capable" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <title>Registro Médica Vial | Unidades Propias</title>
  <link rel="stylesheet" href="lib/bootstrap.min.css" />
  <link rel="stylesheet" href="lib/font-awesome.min.css" />
  <link rel="stylesheet" href="lib/animate.css" />
  <link rel="stylesheet" href="lib/angular-wizard.min.css" />
  <link rel="stylesheet" href="lib/datepicker.css" />
  <link rel="stylesheet" href="css/dashboard/dashboard.css" />
  <link rel="stylesheet" href="css/themes/blue.css" />
  <link rel="stylesheet" href="css/animaciones.css" />
  <link rel="stylesheet" href="modules/ngDialog.min.css">
  <link rel="stylesheet" href="modules/ngDialog-theme-default.min.css">
  <link rel="stylesheet" href="modules/ngDialog-theme-plain.min.css">
  <link rel="stylesheet" href="css/style.css" />
  <script src="lib/prefixfree.min.js"></script>
  <!--[if lt IE 9]>
      <script>
          location.href="http://www.medicavial.net/mvnuevo/navegadorviejo.html";
      </script>
  <![endif]-->
</head>
<body class="ng-cloak">
    <div id="page-wrapper" ng-class="{'active': toggle, 'oculto':cerrar}">

      <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-show="username">
        <ul class="sidebar">
          <li class="sidebar-main">
            <a href="" ng-click="toggleSidebar()">
              MedicaVial
              <span class="menu-icon glyphicon glyphicon-transfer"></span>
            </a>
          </li>
          <li class="sidebar-title"><span>MENU</span></li>
          <li class="sidebar-list">
            <a href="#/home">Inicio <span class="menu-icon fa fa-home"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/aperturaExp">Registro de Paciente<span class="menu-icon glyphicon glyphicon-folder-open"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/busqueda">Búsqueda <span class="menu-icon glyphicon glyphicon-search"></span></a>
          </li>
          <li class="sidebar-list" ng-hide="cordinacion">
            <a href="#/solicitud" ng-click="cargar()">Nueva Solicitud <span class="menu-icon glyphicon glyphicon-send"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/solicitudes">Sol. Pendientes<span class="menu-icon glyphicon glyphicon-tasks"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/material">Documentos de Apoyo <span class="menu-icon glyphicon glyphicon-list-alt"></span></a>
          </li>
          <!-- 
          <li class="sidebar-list">
            <a href="#/home">Reportes <span class="menu-icon glyphicon glyphicon-signal"></span></a>
          </li>
          <li class="sidebar-list">
            <a href="#/home">Incidencias <span class="menu-icon glyphicon glyphicon-plus-sign"></span></a>
          </li>
          <li ng-show="administrador" class="sidebar-list">
            <a href=""  ng-click="admin = !admin"> Administrador <span class="menu-icon" ng-class="{'glyphicon glyphicon-chevron-right': admin, 'glyphicon glyphicon-chevron-down': !admin}"></span>
            </a>
          </li>
          <div collapse="admin">  
              <li class="sidebar-list">
                <a href="#/usuarios"> Usuarios <span class="menu-icon fa fa-users"></a>
              </li>
          </div> -->

          <li class="sidebar-title separator"><span>Accesos</span></li>

          <li class="sidebar-list">
            <a href="http://www.medicavial.com.mx" target="_blank">MedicaVial <span class="menu-icon">MV</span></a>
          </li>
          <!-- <li class="sidebar-list">
            <a href="#" target="_blank">Reportes Estadisticos <span class="menu-icon fa fa-bar-chart-o"></span></a>
          </li> -->
        </ul>
        <div class="sidebar-footer">           
            <div class="col-xs-6">
              <a href="#" target="_blank">
                About
              </a>
            </div>
            <div class="col-xs-6">
              <a href="#">
                Support
              </a>
            </div>
        </div>
      </div>
      <!-- Header Bar -->
      <div class="row header" ng-class="{'active': toggle, 'oculto':cerrar}" ng-show="username">
        <div class="col-xs-12 border-bottom">
          <div class="meta pull-left">
            <div class="page">
              Registro Médica Vial
            </div>
            <div class="breadcrumb-links">
              Inicio
            </div>
            
          </div>
          <div class="user pull-right">
            <div class="item dropdown">
              <a href="#" class="dropdown-toggle">
                <img ng-src="imgs/avatar.jpg">
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Usuario <br>
                  <div class="visible-xs">
                      <strong>Nombre del Usuario</strong>
                  </div>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#">
                    Perfil
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Acceso 1
                  </a>
                </li>
                <li class="link">
                  <a href="#">
                    Acceso 2
                  </a>
                </li>
                <li class="divider"></li>
                <li class="link">
                  <a href="#" ng-click="logout()">
                    Cerrar Sesion
                  </a>
                </li>
              </ul>               
            </div>
            <div class="usuario hidden-xs">
              {{username}}
            </div>
            <div class="item dropdown">
             <a href="#" class="dropdown-toggle">
                <i class="fa fa-bell-o"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">
                  Notificationes
                </li>
                <li class="divider"></li>
                <li>
                  <a href="#">Server Down!</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>      

      <!-- End Header Bar -->
      <!-- End Sidebar -->
      <div id="content-wrapper">
        <div class="page-content">


          <div class="contenedor">
            <div ng-view class="paginas"></div>  
          </div>
          

          <!-- End Main Content -->
        </div><!-- End Page Content -->
      </div><!-- End Content Wrapper -->
    </div><!-- End Page Wrapper -->

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>  
    <script src="modules/angular-file-upload-shim.min.js"></script>   
    <script src="lib/angular.min.js"></script>
    <script src="lib/jspdf.debug.js"></script>
    <script src="lib/jspdf.plugin.addhtml.js"></script>
    <script src="lib/moment-with-langs.min.js"></script>
    <script src="lib/bootstrap-datetimepicker.min.js"></script>
    <script src="lib/bootstrap-tooltip.js"></script>
    <script src="lib/bootstrap-confirmation.js"></script>
    <script src="lib/bootstrap-popover.js"></script>
    <script src="lib/lodash.js"></script>
    <script src="modules/ng-bootstrap-tpls.min.js"></script>
    <script src="modules/angular-animate.min.js"></script>
    <script src="modules/angular-cookies.min.js"></script>
    <script src="modules/angular-route.min.js"></script>
    <script src="modules/angular-wizard.min.js"></script>
    <script src="modules/angular-deckgrid.min.js"></script>
    <script src="modules/angular-file-upload.min.js"></script>
    <script src="modules/ngDialog.min.js"></script>
    <script src="modules/angular-idle.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/directives/cargando.js"></script>
    <script src="app/directives/textos.js"></script>
    <script src="app/directives/ng-radial-gauge-dir.js"></script>
    <script src="app/services/d3-serv.js"></script>
    <script src="app/controllers/solicitudCtrl.js"></script>
    <script src="app/controllers/loginCtrl.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
    <script src="app/controllers/aperturaExpCtrl.js"></script>
    <script src="app/controllers/productoCtrl.js"></script>
    <script src="app/controllers/registraCtrl.js"></script>
    <script src="app/controllers/portadaCtrl.js"></script>
    <script src="app/controllers/busquedaCtrl.js"></script>
    <script src="app/controllers/documentosCtrl.js"></script>
    <script src="app/controllers/historiaClinicaCtrl.js"></script>
    <script src="app/controllers/signosVitalesCtrl.js"></script>
    <script src="app/controllers/notaMedicaCtrl.js"></script>
</body>
</html>