<div>
<!-- div que contiene el init()-->    

<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
        <div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
				     		<h3 class="panel-title" align="center">Selecciona Cliente</h3>
					</div>		
				</div>
			</div>
        </div> 
</div>
  <div class="Panel-body">
<div class="row">
      <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">ABA SEGUROS </h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a  href="" ng-click="asignaProducto(1)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/aba.jpg"  title="ABA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">ACE SEGUROS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a  href="" ng-click="asignaProducto(33)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/ace.jpg"  title="ACE SEGUROS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">AFIRME</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(2)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/afirme.jpg"  title="AFIRME">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">EL AGUILA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(3)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/aguila.jpg"  title="EL AGUILA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


    </div>

    <div class="row">

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">AIG</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(4)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/aig.jpg"  title="AIG">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">ANA </h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(5)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/ana.jpg"  title="ANA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">ATLAS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(6)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/atlas.jpg"  title="ATLAS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">AXA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">
				      						
											<!-- Modal -->
											


				 							<a href="" class="thumbnail" ng-click="asignaProducto(7)">
				      						<img ng-src="imgs/logosregmv/axa.jpg"  title="AXA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>



    </div>
    <div class="row">

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">BANORTE</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(8)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/banorte.jpg"  title="BANORTE">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">CI</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(43)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/ci.jpg"  title="CI">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">F.U.T.V. SECC 1</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(39)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/futv.JPG"  title="F.U.T.V.">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


    	
   
    	 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">F.U.T.V. SECC 2</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(40)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/futv2.JPG"  title="F.U.T.V. SECC2">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
 </div>
    <div class="row">
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">GENERAL</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(9)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/general.jpg"  title="GENERAL">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">GNP</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(10)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/gnp.jpg"  title="GNP">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">GOA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(11)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/goa.jpg"  title="GOA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
    
 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">HDI</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(12)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/hdi.jpg"  title="HDI">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


    	
 </div>
      <div class="row">   

 

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">HRI</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<ahref="" ng-click="asignaProducto(31)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/hir.jpg"  title="HRI">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">INBURSA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(45)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/inbursa.jpg"  title="INBURSA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">LATINO</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(14)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/latino.jpg"  title="LATINO">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
          
 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">LIDNORTE</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(41)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/lidnorte.JPG"  title="LIDNORTE">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


  </div>
      <div class="row">  	
    

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MAPFRE</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(15)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/mapfre.jpg"  title="MAPFRE">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MULTIASISTENCIA / AFIRME</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(37)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/multiafirme.jpg"  title="MULTIASISTENIA / AFIRME">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


   
 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MULTIASISTENCIA / BANCOMER</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(35)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/multibancomer.jpg"  title="MULTIASISTENCIA / BANCOMER">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MULTIASISTENCIA / ZURICH</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(36)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/multizurich.jpg"  title="MULTIASISTENCIA / ZURICH">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
 </div>

     <div class="row">

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MULTIVA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(17)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/multiva.jpg"  title="MULTIVA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


    <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">PARTICULARES</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(51)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/Ortho.jpg"  title="ORTHO FAM">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 
     

<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">SEGUROS EL POTOSI</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(18)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/potosi.jpg"  title="SEGUROS EL POTOSI">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>



 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">PRIMERO SEGUROS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(22)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/primero.jpg"  title="PRIMERO SEGUROS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
</div>
      <div class="row">
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">QU&Aacute;LITAS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(19)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/qualitas.jpg"  title="QU&Aacute;LITAS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div><div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">RSA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(20)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/rsa.jpg"  title="RSA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
          
          
        
  

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center"> SPT SEGUROS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(32)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/spt.JPG"  title="SPT SEGUROS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">THONA SEGUROS</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(47)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/thona.jpg"  title="THONA SEGUROS" >
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
</div>
      <div class="row">
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">TTRAVOL</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(34)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/travol.jpg"  title="TTRAVOL SEGUROS">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">CORTESIA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="" ng-click="asignaProducto(44)" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/cortesia.jpg"  title="CORTESIA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>


    </div>




 

<!--
	<div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">ZURICH</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="marco.php?op=4&ase=21" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/zurich.jpg"  title="ZURICH">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">INTERACCION</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="registro.php?ase=" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/interacciones.jpg"  title="INTERACCION">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>
 <div class="col-md-3">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">MULTIASISTENCIA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="registro.php?ase=" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/multiasistencia.jpg"  title="MULTIASISTENCIA">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div> -->

    </div>











    </div>
</div>

    
<!--               fin de el div que contiene init() -->
</div>