<div class="container" style="width: 100%" ng-init="inicio()">     
	<div class="panel panel-primary">
		<div class="panel-heading">
			<label>Últimos registro</label>
		</div> 
		<div class="Panel-body">
			<div class="row">
				<div class="col-md-12">
					<h1>Parámetros de búsqueda</h1>
				</div>
			</div>
			<div class="row">
				<form ng-submit="buscaParametros()">
					<div class="col-md-4" align="left">
						<div class="input-group">
		                 <span class="input-group-addon">Nombre: </span>	                 
		                    <input type="text" name="ObsAccidente" id="ObsAccidente" ng-model="busca.nombre" class= "form-control" mayusculas >	                 
	          			</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
		                 <span class="input-group-addon">Folio: </span>	                 
		                    <input type="text" name="ObsAccidente" id="ObsAccidente" ng-model="busca.folio" class= "form-control" mayusculas>        
	          			</div>
					</div>
					
					<div class="col-md-3">
						<select class="form-control" ng-model="cveUni" ng-options="unidad.Uni_clave as unidad.Uni_nombre for unidad in unidades" ng-change="muestraFolios()">
							<option value="">Selecciona Unidad</option>
						</select>
					</div>

					<div class="col-md-2" align="right">
		                <div class="form-group">
		                    <input type="submit" id="btnenvioprimero" class="btn btn-primary btn-block" value="Buscar">
		                </div>
		            </div>
	            </form>
			</div>
			<div  ng-show="error" class="row mianimacion">
				<div class="col-md-12">
					<div class="alert alert-warning">No se encontraron coincidencias.</div>
				</div>
			</div>
			<div class="row" ng-show="listaFolPar">
				<div class="col-md-12">
					<table  align="center" style='font-size:13px;' class="table table-striped table-hover table-condensed table-responsive">
						<tr>          
							<th width="10%"><b>Folio</b></th>
							<th width="10%"><b>Aseguradora</b></th>
							<th width="15%"><b>Fecha</b></th>         
							<th width="20%"><b>A.Paterno</b></th>
							<th width="15%"><b>A.Materno</b></th>
							<th width="20%"><b>Nombre(s)</b></th>
							<th width="10%"><b>Observaciones</b></th>					
						</tr>
						<tr ng-repeat="listado in listaFolPar">
							<td><a href="" ng-click="mandaPortada(listado.Exp_folio)">{{listado.Exp_folio}}</a></td>
							<td>{{listado.Cia_nombrecorto}}</td>
							<td>{{listado.Fecha}}</td>
							<td>{{listado.Exp_paterno}}</td>
							<td>{{listado.Exp_materno}}</td>
							<td>{{listado.Exp_nombre}}</td>
							<td>{{listado.Exp_obs}}</td>
							<td><a href="" ng-click="mandaDocumentos(listado.Exp_folio)" >Documentos</a></td>
						</tr>
					</table>
				</div>
			</div>	
			<br>
			<div class="row">
				<div class="col-md-12">
					<table  align="center" style='font-size:13px;' class="table table-striped table-hover table-condensed table-responsive">
						<tr>          
							<th width="10%"><b>Folio</b></th>
							<th width="10%"><b>Aseguradora</b></th>
							<th width="15%"><b>Fecha</b></th>         
							<th width="20%"><b>A.Paterno</b></th>
							<th width="15%"><b>A.Materno</b></th>
							<th width="20%"><b>Nombre(s)</b></th>
							<th width="10%"><b>Observaciones</b></th>					
						</tr>
						<tr ng-repeat="folios in list">
							<td><a href="" ng-click="mandaPortada(folios.Exp_folio)">{{folios.Exp_folio}}</a></td>
							<td>{{folios.Cia_nombrecorto}}</td>
							<td>{{folios.Fecha}}</td>
							<td>{{folios.Exp_paterno}}</td>
							<td>{{folios.Exp_materno}}</td>
							<td>{{folios.Exp_nombre}}</td>
							<td>{{folios.Exp_obs}}</td>
							<td><a href="" ng-click="mandaDocumentos(folios.Exp_folio)" >Documentos</a></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
