<div class="container" style="width: 100%">     
	<div class="panel panel-primary">
		<div class="panel-heading">
			<label>Documentos para el folio <b><label>{{folio}}</label></b></label>
		</div> 
		<div class="Panel-body">
			<br><br>
				<div class="row">
					
						<div class="col-md-4" ng-show="permisos.Per_HistoriaClinica=='S'">
						<button class="btn btn-primary" style="width:100%;border-radius: 4px 4px 4px 4px;
							-moz-border-radius: 4px 4px 4px 4px;
							-webkit-border-radius: 4px 4px 4px 4px;
							border: 2px groove #2b61b3; background:#5b6e94; height:10em;font-size:16px"
							ng-click="irHistoriaClinica(folio)">
							
								<label>Historia Clínica</label>							
						</button>
						</div>
						<div class="col-md-4" ng-show="permisos.Per_Vitales=='S'">
						<button class="btn btn-primary" style="width:100%;border-radius: 4px 4px 4px 4px;
							-moz-border-radius: 4px 4px 4px 4px;
							-webkit-border-radius: 4px 4px 4px 4px;
							border: 2px groove #2b61b3; background:#5b6e94; height:10em;font-size:16px" ng-click="irSignosVitales(folio)">
							
								<label>Signos Vitales</label>							
						</button>
						</div>
						<div class="col-md-4" ng-show="permisos.Per_NotaMedica=='S'">
						<button class="btn btn-primary" style="width:100%;border-radius: 4px 4px 4px 4px;
							-moz-border-radius: 4px 4px 4px 4px;
							-webkit-border-radius: 4px 4px 4px 4px;
							border: 2px groove #2b61b3; background:#5b6e94; height:10em;font-size:16px"
							ng-click="irNotaMedica(folio)">
							
								<label>Nota Médica</label>							
						</button>
						</div>
					
				</div>
				<div class="row">
						<div class="col-md-4" ng-disabled="true">
						<button class="btn btn-primary" style="width:100%;border-radius: 4px 4px 4px 4px;
							-moz-border-radius: 4px 4px 4px 4px;
							-webkit-border-radius: 4px 4px 4px 4px;
							border: 2px groove #2b61b3; background:#5b6e94; height:10em;font-size:16px"
							ng-click="irSubsecuencia(folio)">
							
								<label>Subsecuencias</label>							
						</button>
						</div>
						<div class="col-md-4">
						<button class="btn btn-primary" style="width:100%;border-radius: 4px 4px 4px 4px;
							-moz-border-radius: 4px 4px 4px 4px;
							-webkit-border-radius: 4px 4px 4px 4px;
							border: 2px groove #2b61b3; background:#5b6e94; height:10em;font-size:16px"
							ng-click="irSolicitud(folio)">
								<label>Solicitud</label>							
						</button>
						</div>
				</div>
		</div>
	</div>
</div>
