<div class="container" style="width: 100%">     
<br>
	<div class="panel panel-primary">
    <div style="width:100%; background:gray;color:white">
			<h2>Nota Médica <b><label>{{folio}}</label></b></h2>
		</div>
		<div class="Panel-body">
				<div class="row">
					<div class="col-md-12">
						<wizard on-finish="finished()" hide-indicators="true">             
              <wz-step title="Datos Acc.">
                <ng-include src="'views/notaMedica/DatosdelAccidente.html'"></ng-include>
              </wz-step>
              <wz-step title="Embarazo">
                <ng-include src="'views/notaMedica/EmbarazoRed.html'"></ng-include>
              </wz-step>
              <wz-step title="Lesión">
               <ng-include src="'views/notaMedica/LesionRed.html'"></ng-include>
              </wz-step>
              <wz-step title="Estado Gral.">
                <ng-include src="'views/notaMedica/EstadoGeneral.html'"></ng-include>
              </wz-step>
              <wz-step title="Est. Realizados">
                <ng-include src="'views/notaMedica/EstudiosSolicitados.html'"></ng-include>
              </wz-step>
              <wz-step title="Proc. Médicos">
                <ng-include src="'views/notaMedica/procMedicos.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/diagnostico.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/suministros.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/pronostico.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/imprimeNota.html'"></ng-include>
              </wz-step>
            </wizard>
					</div>
				</div>
			
		</div>
	</div>
</div>
