<div class="container" style="width: 100%" ng-show="permisos.Per_NotaMedica=='S'">     
<br>
	<div class="panel panel-primary">
    <div style="width:100%; background:gray;color:white">
    <div class="row">
      <div class="col-md-1" style="padding-top:1.2em" ng-show="regresar">
        <button ng-click="regresaWizard()" style="background:transparent; border:0px"><img src="imgs/flecha.jpg" width="35" height="35" class="img-circle" /></button>
      </div>
    
			<h2 style="padding-left:2%;">Nota Médica <b><label>{{folio}}</label></b></h2>
    </div>
		</div>     
    <br>
		<div class="Panel-body">
				<div class="row">
					<div class="col-md-12">
						<wizard on-finish="finished()" current-step="paso" hide-indicators="true">                          
              <wz-step title="1">
                <ng-include src="'views/notaMedica/sigVitConfirm.html'"></ng-include>
              </wz-step>
              <wz-step title="2">
                <ng-include src="'views/notaMedica/DatosdelAccidente.html'"></ng-include>
              </wz-step>
              <wz-step title="3">
                <ng-include src="'views/notaMedica/EmbarazoRed.html'"></ng-include>
              </wz-step>
              <wz-step title="4">
               <ng-include src="'views/notaMedica/LesionRed.html'"></ng-include>
              </wz-step>
              <wz-step title="5">
                <ng-include src="'views/notaMedica/EstadoGeneral.html'"></ng-include>
              </wz-step>
              <wz-step title="6">
                <ng-include src="'views/notaMedica/EstudiosSolicitados.html'"></ng-include>
              </wz-step>
              <wz-step title="7">
                <ng-include src="'views/notaMedica/procMedicos.html'"></ng-include>
              </wz-step>
              <wz-step title="8">
                <ng-include src="'views/notaMedica/diagnostico.html'"></ng-include>
              </wz-step>
              <wz-step title="9">
                <ng-include src="'views/notaMedica/otrosEstudios.html'"></ng-include>
              </wz-step>
              <wz-step title="10">
                <ng-include src="'views/notaMedica/suministroSymio.html'"></ng-include>
              </wz-step>
              <!--<wz-step title="Suministros">
                <ng-include src="'views/notaMedica/suministros.html'"></ng-include>
              </wz-step>-->
              <wz-step title="11">
                <ng-include src="'views/notaMedica/pronostico.html'"></ng-include>
              </wz-step>
              <wz-step title="12">
                <ng-include src="'views/notaMedica/imprimeNota.html'"></ng-include>
              </wz-step>
            </wizard>
					</div>
				</div>
			
		</div>
	</div>
</div>
<div class="container" style="width:100%;" ng-hide="permisos.Per_NotaMedica=='S'">
  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-danger">No estas autorizado para acceder a esta página!!</div>  
    </div>
  </div>
</div>
