<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
    <div class="panel-heading">
    	<label>Portada</label>
    </div> 

  	<div class="Panel-body">
  	<br>
  	<div class="container" style="width:80%; padding:10px 2px 2px 2px; border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 1px solid #ced7de;">
	  	<div class="row">
		  	<div class="col-md-4 text-center">
		  		<img ng-src="imgs/logosregmv/{{rutaAse}}"  title="ASEGURADORA">
		  	</div>
		  	<div class="col-md-4 text-center">	  		
					<img ng-src="api/codigos/{{folio}}.png" title="folio">						
		  	</div>
		  	<div class="col-md-4 text-right">
		  		<img ng-src="imgs/producto/{{rutaPro}}"  title="producto">
		  	</div>
	  	</div>

	  	<div class="row">
		  	<div class="col-md-12">
		  		<table id="TablaAlergias" align="center"  width="90%" style='font-size:13px'>
					<tr>          
					   <td width=\"33%\"><b>Folio: </b>{{folio}}</td>
					   <td width=\"33%\"><b>Compañia: </b>{{cia}}</td>
					   <td width=\"33%\"><b>Unidad Médica: </b>{{uniMed}}</td>         					   
					</tr>
					<tr ng-show="verDetalle">          
					   <td width=\"33%\"><b>Póliza: </b>{{poliza}}</td>
					   <td width=\"33%\"><b>Siniestro: </b>{{sinicestro}}</td>
					   <td width=\"33%\"><b>Reporte: </b>{{reporte}}</td>         					   
					</tr>
					<tr ng-show="verDetalle">          
					   <td width=\"33%\"><b>Riesgo: </b>{{riesgo}}</td>
					   
					</tr>
					<tr>          
					   <td width=\"33%\"><b>Lesionado: </b>{{lesionado}}</td>					   	   			
					</tr>
					<tr>          
					   <td width=\"33%\"><b>Usuario: </b>{{usuario}}</td>					   	   		<td width=\"33%\"><b>Registro: </b>{{registro}}</td>	
					</tr>
					<tr>          
					   <td width=\"33%\"><b>Verificador: </b>{{}}</td>					   	   			
					</tr>
					<tr ng-show="cia_clave==44">
					 	<td width=\"50%\">
					   <div class="panel-body"> 												
							<label >
								Autoriza.- {{autoriza}}
							</label><br>							
							<label >
								Autoriza.- {{envia}}
							</label>							
					   </td>
					 </tr>
					<tr>
					   <td ng-show="telefonos" width=\"33%\">
					   <div class="panel-body"> 
							<label>Otros teléfonos:</label><br>
							<div ng-repeat="tels in telefonos">
							<label >
								{{tels.Tel_cont}}.- {{tels.TT_tipotelefono}} -  {{tels.Tel_numero}}
							</label><br>
							</div>
					   </td>
					 </tr>


					<tr><td colspan="3" class="text-center"><br><br><br><br><br><b>__________________________________________
					   					<br>Nombre y firma de Recepcionista en turno</b></td></tr>
				</table>
		  	</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-12">
	  			<label>Favor de anexar al expediente la siguiente documentación:</label>
	  		</div>
	  	</div>
	  	<div class="row">
	  		<div class="col-md-12 text-center">
	  			<button class="btn btn-primary" ng-click="imprimePortada()">Imprimir</button>
	  		</div>
	  	</div>

	</div>
	</div>
	<br>
</div>
