<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
    <div class="panel-heading">
    	<label>Elige Producto</label>
    </div> 
</div>
  	<div class="Panel-body">
  		  <div class="row" ng-show="clave== 7 || clave== 8">
	  	<div class="col-md-4">
	  		<a  data-dismiss="modal"  href="" ng-click="registraLesionado(1)">

				<img ng-src="imgs/producto/av.jpg"/>
				<label>ACCIDENTE VIAL</label>
			</a>
	  	</div>
	  	<div class="col-md-4">
	  		<a  data-dismiss="modal" href="" ng-click="registraLesionado(2);" >
				<img ng-src="imgs/producto/ap.jpg"/>
				<label>ACCIDENTE PERSONAL</label>
			</a>
	  	</div>
	  	<div class="col-md-4">
	  		<a  href="" ng-click="registraLesionado(3);">
	    		<img ng-src="imgs/producto/es.jpg"/>
	    		<label>SOLO ESTUDIOS</label>
	    	</a>
	  	</div>
	  </div>
	  
	  <div class="row" ng-show="clave == 19">
	  	<div class="col-md-6">
	  		<a  data-dismiss="modal"  href="" ng-click="registraLesionado(1)">
				<img ng-src="imgs/producto/av.jpg"/>
				<label>ACCIDENTE VIAL</label>
			</a>
	  	</div>
	  	<div class="col-md-6">
	  		<a  data-dismiss="modal" href="" ng-click="registraLesionado(5);" >
				<img ng-src="imgs/producto/rh.jpg"/>
				<label>SOLO REHABILITACION (ZIMA)</label>
			</a>
	  	</div>	  	
	  </div>
	  
	  <div class="row" ng-show=" clave == 9">
	  	<div class="col-md-4">
	  		<a  data-dismiss="modal"  href="" ng-click="registraLesionado(1)">
				<img ng-src="imgs/producto/av.jpg"/>
				<label>ACCIDENTE VIAL</label>
			</a>
	  	</div>
	  	<div class="col-md-4">
	  		<a  data-dismiss="modal" href="" ng-click="registraLesionado(6);" >
				<img ng-src="imgs/producto/sq.jpg"/>
				<label>SUBSECUENCIA QUIRURGICA</label>
			</a>
	  	</div>	
	  	<div class="col-md-4">
	  		<a  data-dismiss="modal" href="" ng-click="registraLesionado(7);" >
				<img ng-src="imgs/producto/sn.jpg"/>
				<label>SUBSECUENCIA NO QUIRURGICA</label>
			</a>
	  	</div>	   	
	  </div>
	 
	</div>
</div>
