<div class="container" style="width: 100%"> 
    
 <div class="panel panel-primary">
        <div class="panel-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
				     		
					</div>		
				</div>
			</div>
        </div> 

  <div class="panel-body">
<div class="row">
 <div class="col-md-6">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
                                            <h3 class="panel-title" align="center">ASEGURADORA</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="#/aperturaExp/1" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/aseguradora.png"  title="Aseguradora">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 
				      	
</div>

 <div class="col-md-6">

				<div class="container" style="width: 100%"> 
				   <div class="panel panel-INFO">
				        <div class="panel-heading">
				         	<h3 class="panel-title" align="center">PARTICULAR</h3>
				        </div> 
				  			<div class="Panel-body">
								<div class="row">
				      					<div class="col-md-12">

				 							<a href="#/aperturaExp/2" class="thumbnail">
				      						<img ng-src="imgs/logosregmv/Ortho.jpg"  title="Particular">
				   							 </a>
				   						</div>	
				   				</div>
				   			</div>
				   		</div>
				   	</div> 				      	
</div>

</div>


    </div>
</div>
</div>