<div class="container" style="width: 100%">     
<br>
	<div class="panel panel-primary">
    <div style="width:100%; background:gray;color:white">
    <div class="row">
      <div class="col-md-1" style="padding-top:1.2em" ng-show="regresar">
        <button ng-click="regresaWizard()" style="background:transparent; border:0px"><img src="imgs/flecha.jpg" width="35" height="35" class="img-circle" /></button>
      </div>
    
			<h2 style="padding-left:2%;">Informe Médico de Seguimiento <b><label>{{folio}}</label></b></h2>
    </div>
		</div>
                        
        <div class="progress progress-striped">
          <div class="progress-bar progress-bar-info" role="progressbar"
               aria-valuenow="{{progreso}}" aria-valuemin="0" aria-valuemax="100"
               style="width:{{progreso}}%">
            <label>{{progreso}}%</label>
          </div>         
        </div>

		<div class="Panel-body">
				<div class="row">
					<div class="col-md-12">
						<wizard on-finish="finished()" current-step="paso" hide-indicators="true">                          
              <wz-step title="Subsecuencia">
                <ng-include src="'views/subsecuencia/subsecuencia.html'"></ng-include>
              </wz-step>
              <wz-step title="Estudios Solicitados">
                <ng-include src="'views/subsecuencia/EstudiosSolicitadosSub.html'"></ng-include>
              </wz-step>
              <wz-step title="Diagnóstico">
                <ng-include src="'views/subsecuencia/diagnosticoSub.html'"></ng-include>
              </wz-step>
              <wz-step title="Lesion">
               <ng-include src="'views/subsecuencia/suministrosSub.html'"></ng-include>
              </wz-step>
              <wz-step title="Estado Gral.">
                <ng-include src="'views/notaMedica/EstadoGeneral.html'"></ng-include>
              </wz-step>
              <wz-step title="Est. Realizados">
                <ng-include src="'views/notaMedica/EstudiosSolicitados.html'"></ng-include>
              </wz-step>
              <wz-step title="Proc. Médicos">
                <ng-include src="'views/notaMedica/procMedicos.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/diagnostico.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/suministros.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/pronostico.html'"></ng-include>
              </wz-step>
              <wz-step title="">
                <ng-include src="'views/notaMedica/imprimeNota.html'"></ng-include>
              </wz-step>
            </wizard>
					</div>
				</div>
			
		</div>
	</div>
</div>
