<div class="container" style="width:100%">
	<div class="row">
		<div class="col-md-2" align="center">
			<button type="button" ng-click="irDocumentos()" id="btn-addProcMedicos" class="btn btn-primary" >Documentos</button>
		</div>
		<div class="col-md-3" align="center">
			<button type="button" ng-click="imprimirSub()" id="btn-addProcMedicos" class="btn btn-success" >Imprime Subsecuencia</button>
		</div>
		<div class="col-md-3" align="center">	
    	  	<button type="button" ng-click="imprimirRecetaSub()" id="btn-addProcMedicos" class="btn btn-success" >Imprime Receta</button>
        </div>

		<!--<div class="col-md-3" align="center">	
    	  <div class="hidden" >
            <qr id="qr" text="string" type-number="6" correction-level="Q" size="100"></qr>
          </div>         
	          <receta data="datos"></receta>
        </div>-->
		<div class="col-md-4" align="center">
			<a type="button" href="#/solicitud/{{folio}}" id="btn-addProcMedicos" class="btn btn-success">Generar Solicitud de Autorización</a>
		</div>
	</div>
	<br><br><br>
	<div class="row"> 
        <div class="col-md-12">
	          <div ng-show="cargador" align="center">
	            <img ng-src="imgs/cargador.gif">
	          </div>
        </div>
    </div>       		
</div>
